.card-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  height: 100%;
  margin-bottom: -10px; /* remove extra bottom margin caused by negative margins */
}

.card-wrapper {
  display: inline-block;
  margin: auto;
}
.task-description {
  max-height: 4.5rem !important; /* adjust this value to fit your card */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* adjust this value to fit your card */
  -webkit-box-orient: vertical;
}
.card-body {
  display: flex;
  flex-direction: column;
}

.due-date {
  margin-top: auto;
}

.badge {
  display: inline-block;
  width: 22%;
}

.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 250px; */
}

.card-row:hover {
  overflow-x: scroll;
}

.card-row::-webkit-scrollbar {
  height: 10px;
}

.card-row::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  min-height: 10px;
  width: 10px;
}

.card-row::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
